.logo {
  display: flex;
  align-content: center;
  align-items: center;
  text-decoration: none;
  color: inherit;
}

.logo img {
  width: 32px;
  height: 32px;
}

.logo div {
  font-size: 26px;
  font-weight: 600;
  margin-left: 0.3em;
}

.header-wrapper {
  position: relative;
  top: 0;
  width: 100%;
  height: 100px;
  /* background: linear-gradient(180deg, rgba(255, 255, 255, 0.994946) 43.52%, #F7F8FB 100%); */
  background: #FCFCFE;
  color: #1C1D1E;
  max-width: 1200px;
  display: flex;
  z-index: 100;
  align-content: center;
  align-items: center;
  padding-left: 8em;
}

#nav-right {
  margin-left: auto;
  margin-right: 2em;
}

#nav-right a svg {
  width: 1.5em;
  height: 1.4em;
  margin-right: 1em;
}

li a {
  text-decoration: none;
  color: black;
}

nav {
  margin-left: 4em;
  display: flex;
  width: 23em;
  justify-content: space-between;

}

nav a {
  color: inherit;
  font-size: 16px;
  font-weight: bold;
  margin-right: 23px;
  text-decoration: none;
  padding-bottom: 4px;
}