.index {
  position: relative;
  min-height: 100vh;
  background: white;
  color: rgb(5, 15, 25);
}

.welcome {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #1652F0;
  z-index: 100;
  opacity: 0;
  visibility: hidden;
  animation: 2.5s delay-fadeout cubic-bezier(0.23, 1, 0.320, 1);
}

.welcome #logo {
  position: absolute;
  color: rgba(0, 0, 0, .3);
  top: 50vh;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.welcome #logo:before {
  content: attr(data-text);
  position: absolute;
  overflow: hidden;
  max-width: 7em;
  white-space: nowrap;
  color: #fff;
  animation: loading 3s linear;
}

@keyframes loading {
  0% {
    max-width: 0;
  }
}

.blue-back {
  background-color: #1652F0;
  color: white;
  padding-bottom: 50px;
  margin: 0;
}

.top {
  margin-left: 20%;
  margin-right: 20%;
  margin-bottom: 5%;
  padding-top: 2rem;
  display: flex;
  justify-content: space-between;
  align-content: center;
  align-items: center;
}

#logo {
  font-size: 30px;
  font-family: Ubuntu
}

.contact {
  display: flex;
  align-content: center;
  align-items: center;
}

.contact a svg {
  fill: white;
  height: 25px;
  margin-left: 1rem;
}

svg {
  transition: 1s all cubic-bezier(0.075, 0.82, 0.165, 1)
}

.contact a:hover svg {
  opacity: 0.7
}

h1 {
  font-size: 40px;
  font-weight: 500;
  margin-bottom: 1rem;
}

h2 {
  font-weight: 400;
  font-size: 19px;
}

h3 {
  margin-top: 0;
  margin-bottom: 16px;
  color: white;
  font-weight: 500;
  font-size: 22px;
}

h4 {
  font-size: 27px;
}

.intern-blue-back {
  z-index: 1;
  position: absolute;
  top: 0px;
  background-color: rgb(22, 82, 240);
  height: 200px;
  width: 100%;
}

.intern-wrapper {
  margin: 0;
  position: relative;
}

.intern {
  z-index: 2;
  position: relative;
  width: 60%;
  max-width: 700px;
  margin: auto;
  flex-shrink: 0;
  flex-direction: column;
  padding: 0px;

}

.projects {
  position: relative;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 70px;
  text-align: center;
}

.projects-flex {
  display: flex;
  margin-top: 60px;
  max-width: 900px;
  margin-left: auto;
  margin-right: auto;
  justify-content: space-between;
}



.work-flex .icon {
  position: relative;
  height: 70px;
  width: 70px;
  border-radius: 9px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 25px;
  box-shadow:
    rgba(17, 51, 83, 0.137) 4px 4px 12px 4px;
}

.icon img {
  margin: 0;
  position: absolute;
  width: 50%;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.work-flex .title {
  font-weight: 500;
  font-size: 17px;
}

.work-flex p {
  margin-top: 10px;
  margin-bottom: 7px;
  font-size: 13px;
  color: #898989;
  font-weight: 400;
  max-width: 262px;
}

.work-flex a {
  text-decoration: none;
  font-size: 13px;
  color: #1652F0;
  font-weight: 500;
  transition: 1s all cubic-bezier(0.23, 1, 0.320, 1);
}

.work-flex a:hover {
  opacity: 0.7;
}

.intern-table {
  width: 100%;
  background-color: white;
  margin: 0px auto;
  border-spacing: 0px;
  border-collapse: separate;
  caption-side: top;
  flex-shrink: 0;
  flex-direction: column;
  border-radius: 4px;
  box-shadow:
    rgba(17, 51, 83, 0.068) 4px 4px 12px 4px;
}

.intern-table thead tr th:nth-child(1) {
  padding-left: 32px;
}



thead {
  display: table-header-group
}

th {
  font-size: 14px;
  font-weight: 400;
  color: #898989;
  padding: 16px 16px 16px 0px
}

tr.border td,
th {
  border-bottom: 1px solid rgb(236, 239, 241);
}

.border {
  width: 100%;
  border-bottom: 1px solid rgb(236, 239, 241);
}

.intern-desc td {
  font-size: 14px;
  color: #898989;
  margin: 0;
  padding: 0px 0px px 0px;
}

.intern-desc a {
  color: #898989;
  text-decoration: none;
  transition: 1s all cubic-bezier();
}



th {
  text-align: left;
}

td:first-child {
  padding-left: 32px;
}

td {
  text-align: left;
  padding: 14px 48px 14px 0px;
}

.intern-head td {
  padding-bottom: 0px;
  font-size: 16px;
}

.intern-head td:first-child {
  font-weight: 400;
}

#go-git {
  background-color: #05B169;
  display: inline-flex;
  align-content: center;
  align-items: center;
  border-radius: 5px;
  margin-top: 1.1rem;
  justify-content: space-around;
  color: white;
  text-decoration: none;
  padding: 0.8rem;
  padding-left: 1.2rem;
  padding-right: 1.2rem;
  transition: 1s all cubic-bezier(0.23, 1, 0.320, 1)
}

#go-git:hover {
  background-color: rgb(0, 155, 90);
}

#go-git div {
  display: inline-block;
  font-size: 1rem;
}

#go-git svg {
  margin-left: 0.5rem;
  display: inline-block;
  fill: white;
  height: 1.5rem;
}

.greeting {
  text-align: center;
}

.footer {
  margin-top: 90px;
  padding-top: 40px;
  padding-bottom: 40px;
  padding-left: 20%;
  padding-right: 20%;
  background-color: #E9F6FF;
}

.footer #copyright {
  font-size: 12px;
}

.footer-flex {
  display: flex;
  justify-content: space-between;
  align-content: center;
  align-items: center;
}

.footer-flex .contact svg {
  fill: #020001;
}

@keyframes marquee {
  0% {
    transform: translate(0, 0);
  }

  100% {
    transform: translate(-150%, 0);
  }
}

@keyframes bounceL {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }

  50% {
    -webkit-transform: translateX(-1%);
    transform: translateX(-1%);
  }

  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}

@keyframes bounceR {
  0% {
    -webkit-transform: translateX(-1%);
    transform: translateX(-1%);
  }

  50% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }

  100% {
    -webkit-transform: translateX(-1%);
    transform: translateX(-1%);
  }

}

@keyframes left-right {

  50% {
    -webkit-transform: translate3d(50%, 0, 0);
    transform: translate3d(50%, 0, 0);
  }

  100% {
    transform: none
  }
}

@keyframes right-left {
  50% {
    -webkit-transform: translate3d(-50%, 0, 0);
    transform: translate3d(-50%, 0, 0);
  }

  100% {
    transform: none;
  }
}

@keyframes movej {
  0% {
    transform: none;
  }

  80% {
    transform: none;
  }

  100% {
    transform: translateX(6.65em);
  }
}

@keyframes fadein {
  0% {
    opacity: 0
  }

  50% {
    opacity: 0
  }

  100% {
    opacity: 1
  }
}


@keyframes hover {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }

  50% {
    -webkit-transform: translateY(-4px);
    transform: translateY(-4px);
  }

  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@keyframes fadeout {
  0% {
    opacity: 1;
    display: block;
  }

  100% {
    opacity: 0;
    display: none;
    visibility: hidden;
  }
}

@keyframes delay-fadeout {
  0% {
    opacity: 1;
    visibility: visible;
  }

  80% {
    opacity: 1;
    visibility: visible;
  }

  100% {
    opacity: 0;
    visibility: hidden;
  }
}

@keyframes introtext {
  0% {
    -webkit-transform: translate3D(0, 180%, 0);
    transform: translate3D(0, 180%, 0);
  }

  100% {
    -webkit-transform: translate3D(0, 0, 0);
    transform: translate3D(0, 0, 0);
  }
}

@keyframes spin {
  0% {
    -webkit-text-stroke: 2px #edeae3;
    -ms-text-stroke: 2px #edeae3;
    color:
      #020001;
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  25% {
    -webkit-text-stroke: none;
    -ms-text-stroke: none;
    color:
      #edeae3;
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
  }

  50% {
    -webkit-text-stroke: 2px #edeae3;
    color:
      #020001;
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
  }

  75% {
    -webkit-text-stroke: none;
    color:
      #edeae3;
    -webkit-transform: rotate(270deg);
    transform: rotate(270deg);
  }

  100% {
    -webkit-text-stroke: 2px #edeae3;
    color:
      #020001;
    -webkit-transform: rotate(1turn);
    transform: rotate(1turn);
  }
}

@media only screen and (max-width: 600px) {
  h1 {
    font-size: 30px;
  }

  h2 {
    font-size: 15px;
  }

  .intern {
    width: 95%;
  }
}