* {
  scroll-behavior: smooth;
}

body {
  font-family: Graphik, system-ui, -apple-system, BlinkMacSystemFont, "Helvetica Neue",
    "Lucida Grande", "Segoe UI";
  font-weight: normal;
  font-size: 16px;
  color: white;
  margin: 0;
  padding: 0;
}

#loading {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 50px;
  font-weight: bold;
  text-align: center;
  color: white;
}

#loading #eyes {
  display: inline-block;
  animation: hover 250ms infinite;
}

@font-face {
  font-family: 'Ubuntu';
  src: url('fonts/Ubuntu-BoldItalic.woff2') format('woff2'),
    url('fonts/Ubuntu-BoldItalic.woff') format('woff');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'Ubuntu';
  src: url('fonts/Ubuntu-Light.woff2') format('woff2'),
    url('fonts/Ubuntu-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Ubuntu';
  src: url('fonts/Ubuntu.woff2') format('woff2'),
    url('fonts/Ubuntu.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Ubuntu';
  src: url('fonts/Ubuntu-LightItalic.woff2') format('woff2'),
    url('fonts/Ubuntu-LightItalic.woff') format('woff');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'Ubuntu';
  src: url('fonts/Ubuntu-Bold.woff2') format('woff2'),
    url('fonts/Ubuntu-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Ubuntu';
  src: url('fonts/Ubuntu-Medium.woff2') format('woff2'),
    url('fonts/Ubuntu-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Ubuntu';
  src: url('fonts/Ubuntu-Italic.woff2') format('woff2'),
    url('fonts/Ubuntu-Italic.woff') format('woff');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Ubuntu';
  src: url('fonts/Ubuntu-MediumItalic.woff2') format('woff2'),
    url('fonts/Ubuntu-MediumItalic.woff') format('woff');
  font-weight: 500;
  font-style: italic;
}


@font-face {
  font-family: 'Graphik';
  src: url('fonts/Graphik-Extralight.woff2') format('woff2'),
    url('fonts/Graphik-Extralight.woff') format('woff');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'Graphik';
  src: url('fonts/Graphik-LightItalic.woff2') format('woff2'),
    url('fonts/Graphik-LightItalic.woff') format('woff');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'Graphik';
  src: url('fonts/Graphik-Medium.woff2') format('woff2'),
    url('fonts/Graphik-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Graphik';
  src: url('fonts/Graphik-Thin.woff2') format('woff2'),
    url('fonts/Graphik-Thin.woff') format('woff');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'Graphik';
  src: url('fonts/Graphik-Light.woff2') format('woff2'),
    url('fonts/Graphik-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Graphik';
  src: url('fonts/Graphik-ExtralightItalic.woff2') format('woff2'),
    url('fonts/Graphik-ExtralightItalic.woff') format('woff');
  font-weight: 200;
  font-style: italic;
}

@font-face {
  font-family: 'Graphik';
  src: url('fonts/Graphik-ThinItalic.woff2') format('woff2'),
    url('fonts/Graphik-ThinItalic.woff') format('woff');
  font-weight: 100;
  font-style: italic;
}

@font-face {
  font-family: 'Graphik';
  src: url('fonts/Graphik-MediumItalic.woff2') format('woff2'),
    url('fonts/Graphik-MediumItalic.woff') format('woff');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'Graphik';
  src: url('fonts/Graphik-Semibold.woff2') format('woff2'),
    url('fonts/Graphik-Semibold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Graphik';
  src: url('fonts/Graphik-SemiboldItalic.woff2') format('woff2'),
    url('fonts/Graphik-SemiboldItalic.woff') format('woff');
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: 'Graphik';
  src: url('fonts/Graphik-Regular.woff2') format('woff2'),
    url('fonts/Graphik-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Graphik';
  src: url('fonts/Graphik-RegularItalic.woff2') format('woff2'),
    url('fonts/Graphik-RegularItalic.woff') format('woff');
  font-weight: normal;
  font-style: italic;
}




@keyframes hover {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }

  50% {
    -webkit-transform: translateY(-4px);
    transform: translateY(-4px);
  }

  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}